# Python-related files
*.pyc
*.pyo
__pycache__/

# Virtual environment
venv/

# Environment variables
.env

# Streamlit-specific
.streamlit/

# Logs and cache files
*.log
*.cache
*.sqlite3
*.db

# VSCode workspace files
.vscode/

# Temporary or OS-specific files
.DS_Store
Thumbs.db
08_pretrained_vit_feature_extractor_pizza_steak_sushi.pth
